<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccty.noah.mapper.applets.NewsMapper">

    <!-- 根据id获取用户信息 -->
    <select id="queryNewsTopFive" resultType="com.ccty.noah.domain.database.applets.NewsDO">
       select id,title,content,url,creator,create_time
       from school_news
       where is_deleted=0 and type=1
       order by id desc
       limit 5
    </select>

    <select id="queryNewsByPage" resultType="com.ccty.noah.domain.database.applets.NewsDO">
       select id,title,content,url,creator,create_time,update_time,type
       from school_news
       where is_deleted=0
       <if test="title!=null and title!=''">
           and title = #{title}
       </if>
       <if test="type!=null">
           and type = #{type}
       </if>
       order by id desc
    </select>

    <insert id="insertNews" parameterType="com.ccty.noah.domain.database.applets.NewsDO">
        insert into school_news
        (title,content,url,type)
        values
        (#{title},#{content},#{url},#{type})
    </insert>

    <delete id="deleteNews">
        update school_news
        set is_deleted = 1
        where id = #{id}
    </delete>

    <update id="updateNews" parameterType="com.ccty.noah.domain.database.applets.NewsDO">
        update school_news
        set title = #{title},content = #{content},url = #{url},type = #{type}
        where id = #{id}
    </update>

</mapper>