<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccty.noah.mapper.applets.AppletsManagerMapper">

    <select id="queryCarouselListByType" resultType="java.lang.String">
        select address
        from school_carousel
        where is_deleted = 0 and type = #{type}
        order by update_time desc
    </select>

</mapper>