<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccty.noah.mapper.IntegralMapper">

    <select id="queryIntegralByUserId" resultType="java.math.BigDecimal">
       select available_integral
       from school_integral
       where is_deleted = 0 and user_id = #{userId}
    </select>

    <select id="queryIntegralInfoByUserId" resultType="com.ccty.noah.domain.database.applets.IntegralDO">
        select id,user_id,total_integral,available_integral
        from school_integral
        where is_deleted = 0 and user_id = #{userId}
    </select>

    <update id="updateAvailableIntegralById">
        update school_integral
        set available_integral = available_integral - #{totalCost}
        where id = #{id}
    </update>

    <insert id="insertIntegralRecord" parameterType="com.ccty.noah.domain.database.applets.IntegralRecordDO">
        insert into school_integral_record(integral_id,user_id,operate_integral,operate_type,integral_type,integral_status,integral_sources_id)
        values(#{integralId},#{userId},#{operateIntegral},#{operateType},#{integralType},#{integralStatus},#{integralSourcesId})
    </insert>

    <select id="queryFreezeByOrderId" resultType="com.ccty.noah.domain.database.applets.IntegralRecordDO">
        select id,integral_id,user_id,operate_type
        from school_integral_record
        where integral_sources_id = #{orderId} and integral_status = 4 and operate_type = 2
    </select>

    <update id="updateTotalIntegral">
        update school_integral
        set total_integral = total_integral - #{operateIntegral}
        where id = #{integralId}
    </update>

    <update id="updateIntegralRecordByBusId">
        update school_integral_record
        set status = #{code}
        where business_id = #{orderId}
    </update>

    <update id="updateIntegralByUserId">
        update school_integral
        set total_integral = total_integral + #{totalCost},available_integral = available_integral + #{totalCost}
        where user_id = #{riderId}
    </update>

    <select id="queryIntegralIdByUserId" resultType="java.lang.Long">
        select id
        from school_integral
        where user_id = #{riderId}
    </select>


</mapper>