<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccty.noah.mapper.ResourcesMapper">

    <insert id="insertResources" parameterType="com.ccty.noah.domain.database.ResourcesDO">
        insert into school_resources
        (name,address,description,type,parent_id,name_en,icon)
        values
        (#{name},#{address},#{description},#{type},#{parentId},#{nameEn},#{icon})
    </insert>

    <select id="queryResourcesListByCondition" resultType="com.ccty.noah.domain.database.ResourcesDO">
        select id,parent_id,name,address,description,type,create_time,update_time,name_en,icon
        from school_resources
        where is_deleted = 0
        <if test="name!='' and name!=null">
            and name = #{name}
        </if>
        order by update_time desc
    </select>

    <delete id="deleteResources">
        update school_resources
        set is_deleted = 1
        where id = #{id}
    </delete>

    <update id="updateResources" parameterType="com.ccty.noah.domain.database.ResourcesDO">
        update school_resources
        set name = #{name},address = #{address},description = #{description},
        type = #{type},parent_id = #{parentId},name_en = #{nameEn},icon = #{icon}
        where id = #{id}
    </update>

    <select id="queryAllResourcesName" resultType="com.ccty.noah.domain.database.ResourcesDO">
        select id,name
        from school_resources
        where is_deleted = 0 and parent_id = 0
        order by update_time desc
    </select>

    <select id="queryResourcesByParentId" resultType="com.ccty.noah.domain.database.ResourcesDO">
        select id,name,parent_id
        from school_resources
        where is_deleted = 0 and parent_id = #{id}
        order by update_time desc
    </select>

</mapper>