<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccty.noah.mapper.RoleMapper">

    <select id="queryInfoByRoleName" resultType="java.lang.Integer">
       select 1
       from school_role
       where is_deleted = 0 and name = #{name}
       order by id desc
       limit 1
    </select>

    <insert id="insertRole" parameterType="com.ccty.noah.domain.database.RoleDO">
        insert into school_role
        (name,type,description,order_index)
        values
        (#{name},#{type},#{description},#{orderIndex})
    </insert>

    <select id="queryRoleListByCondition" resultType="com.ccty.noah.domain.database.RoleDO">
        select id,name,order_index,description,type,create_time,update_time
        from school_role
        where is_deleted = 0
        <if test="name!='' and name!=null">
            and name = #{name}
        </if>
        order by update_time desc
    </select>

    <delete id="deleteRole">
        update school_role
        set is_deleted = 1
        where id = #{id}
    </delete>

    <update id="updateRole" parameterType="com.ccty.noah.domain.database.RoleDO">
        update school_role
        set name = #{name},order_index = #{orderIndex},type = #{type},description = #{description}
        where id = #{id}
    </update>

    <select id="queryAllRoleName" resultType="com.ccty.noah.domain.database.RoleDO">
        select id,name
        from school_role
        where is_deleted = 0
        order by update_time desc
    </select>


</mapper>