<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccty.noah.mapper.RoleMapper">

    <select id="queryInfoByRoleName" resultType="java.lang.Integer">
       select 1
       from school_role
       where is_deleted = 0 and name = #{name}
       order by id desc
       limit 1
    </select>

    <insert id="insertRole" parameterType="com.ccty.noah.domain.database.RoleDO">
        insert into school_role
        (type,name,order_index,desc)
        values
        (#{type},#{name},#{orderIndex},#{desc})
    </insert>


</mapper>