<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccty.noah.mapper.UserMapper">

    <select id="queryInfoByUserName" resultType="java.lang.Long">
       select id
       from school_user
       where is_deleted = 0 and name = #{username} and type = #{type}
       order by id desc
       limit 1
    </select>

    <select id="queryUserInfoByUserName" resultType="com.ccty.noah.domain.database.UserDO">
        select id,name,nickname,sex,phone,language,country,city,area
        from school_user
        where is_deleted = 0 and name = #{name} and type = #{type}
        limit 1
    </select>

    <select id="queryInfoByUserNameAndPwd" resultType="com.ccty.noah.domain.database.UserDO">
        select id,name,nickname,sex,phone,language,country,city,area
        from school_user
        where is_deleted = 0 and name = #{name} and password = #{password} and type = #{type}
        limit 1
    </select>

    <select id="queryUserListByCondition" resultType="com.ccty.noah.domain.database.UserDO">
        select id,name,nickname,sex,level,phone,language,country,city,area,role_id
        from school_user
        where is_deleted = 0
        <if test="name!=null and name != ''">
            and name = #{name}
        </if>
        <if test="type!=null">
            and type = #{type}
        </if>
    </select>

    <insert id="insertUser" parameterType="com.ccty.noah.domain.database.UserDO">
        insert into school_user
        (type,manager_type,password,name,sex,phone,picture)
        values
        (#{type},#{managerType},#{password},#{name},#{sex},#{phone},#{picture})
    </insert>

    <select id="queryInfoByPhone" resultType="com.ccty.noah.domain.database.UserDO">
       select id,name,nickname,sex,phone,language,country,city,area
       from school_user
       where is_deleted = 0 and phone = #{phone} and type = #{type}
       order by id desc
       limit 1
    </select>

    <update id="userAuthRole">
        update school_user
        set role_id = #{roleId}
        where id in
        <foreach collection="list"  item="userId" index="index" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </update>

    <select id="queryUserResources" resultType="com.ccty.noah.domain.database.ResourcesDO">
        select r.id,r.name,r.name_en,r.icon,r.address,r.parent_id
        from school_resources r
        left join school_role_resources rs on r.id=rs.resources_id and rs.is_deleted=0
        left join school_role o on rs.role_id=o.id and o.is_deleted=0
        left join school_user u on o.id=u.role_id and u.is_deleted=0
        where r.is_deleted=0 and r.type=1 and u.name = #{name}
    </select>


</mapper>